/***********************************************/
/* emx_nav_right.css                           */
/* Use with template Halo_rightNav.html        */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background: #cccccc;
/*      url("/siteimages/bg_grad.jpg") fixed;   */
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited {
	color: #005FA9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h3.pointer{
 cursor: pointer;
 /* cursor: hand; */
}

h4{
 font: bold 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}


/*************** list tag styles ***************/

ul.menu {
list-style: none;
margin :0px 0px 0px 15px;
padding-left: 5px;
border-left: 1px dotted #000;
}

ul.top {
list-style: none;
margin: 0px 0px 0px 15px;
padding-left: 5px;
border-left: 0px;
}

ul.no_indent {
list-style: none;
padding: 0px;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1{
	position:absolute;
	top: 2%;
	left: 2%;
	right: 2%;
	width: 96%;
	background-color: #ffffff;

}

#tl {
	position:absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#masthead{
	position: absolute;
	top: 0px;
	left: 2%;
	right: 2%;
	width:95.6%;

}

#pageNav{
	float: right;
	width:178px;
	padding: 0px;
	background-color: #F5f7f7;
	border-left: 1px solid #cccccc;
	font: small Verdana,sans-serif;
}

#content{
	padding: 0px 10px 0px 0px;
	margin:0px 178px 0px 0px;
}


/***********************************************/
/* Component Divs                              */
/***********************************************/
#siteName{
	margin: 0px;
	padding: 16px 0px 8px 0px;
	color: #ffffff;
	font-weight: normal;
}

/************** utility styles *****************/

#utility{
	font: 75% Verdana,sans-serif;
	position: absolute;
	top: 16px;
	right: 0px;
	color: #919999;
}

#utility a{
	color: #ffffff;
}

#utility a:hover {
	text-decoration: underline;
}

/************** pageName styles ****************/

#pageName{
	padding: 0px 0px 14px 10px;
	margin: 0px;
	border-bottom:1px solid #ccd2d2;
	z-index: 2;
}

#pageName h2{
	font: bold 175% Arial,sans-serif;
	color: #000000;
	margin:0px;
	padding: 0px;
}
/*
#pageLogo {
      position: absolute;
      top: 8px;
      left: 10px;
      z-index: 5;
}
*/

/************* globalNav styles ****************/

#globalNav{
position: relative;
width: 100%;
min-width: 640px;
height: 32px;
color: #cccccc;
padding: 0px;
margin: 0px;
background-image:  url("siteimages/glbnav_background.gif");
}

#globalNav img{
	margin-bottom: -4px;

}

#gnl {
	position: absolute;
	top: 0px;
	left:0px;
}

#gnr {
	position: absolute;
	top: 0px;
	right:0px;
}

#globalLink{
	position: absolute;
	top: 6px;
	height: 22px;
	min-width: 640px;
	padding: 0px;
	margin: 0px;
	left: 10px;
	z-index: 100;
}


a.glink, a.glink:visited {
  	font-size: small;
  	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 4px 5px;
	border-right: 1px solid #8FB8BC;
}

a.glink:hover {
  	background-image:  url("siteimages/glblnav_selected.gif");
	text-decoration: none;
}

.skipLinks {display: none;}

/************ subglobalNav styles **************/

.subglobalNav{
	position: absolute;
	top: 84px;
	left: 0px;
	/*width: 100%;*/
	min-width: 640px;
	height: 20px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #ffffff;
}

.subglobalNav a:link, .subglobalNav a:visited {
	font-size: 80%;
	color: #ffffff;
}

.subglobalNav a:hover {
	color: #cccccc;
}

/*************** search styles *****************/
/*
#listshow {
	z-order: 101;
}
*/
#search{
	position: absolute;
	top: 125px;
	right: 0px;
}

#search form {
	position: absolute;
	top: 125px;
	right: 300px;
}
#search input {
	font-size: 11px;
}

#search1{
	position: absolute;
	top: 85px;
	right: 300px;
}

#search2{
	position: absolute;
	top: 100px;
	right: 300px;
}

#search3{
	position: absolute;
	top: 85px;
	right: 240px;
}

#search4{
	position: absolute;
	top: 100px;
	right: 226px;
}

#googlead{
	position: absolute;
	top: 5px;
	right: 0px;
	z-index: -10;
}

#search input{
  font-size: 70%;
  margin: 0px  0px 0px 10px;
}

#search a:link, #search a:visited {
	font-size: 80%;
	font-weight: bold;

}

#search a:hover {
	margin: 0px;
}


/************* breadCrumb styles ***************/

#breadCrumb{
	padding: 5px 0px 5px 10px;
	font: small Verdana,sans-serif;
	color: #AAAAAA;
}

#breadCrumb a{
	color: #AAAAAA;
}

#breadCrumb a:hover {
	color: #005FA9;
	text-decoration: underline;
}


/************** feature styles *****************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
	min-height: 200px;
	height: 200px;
}

.feature {height: auto;}

.feature h3{
	font: bold 175% Arial,sans-serif;
	color: #000000;
	padding: 30px 0px 5px 0px;
}

.feature img{
	float: left;
	padding: 0px 10px 0px 0px;
}


/*************** story styles ******************/

.story {
	padding: 10px 0px 0px 10px;
	font-size: 80%;
	min-height: 450px;
}

.story h3{
	font: bold 125% Arial,sans-serif;
	color: #000000;
}

.story p {
	padding: 0px 0px 10px 0px;
}

.story a.capsule{
	font: bold 1em Arial,sans-serif;
	color: #005FA9;
	display:block;
	padding-bottom: 5px;
}

.story a.capsule:hover {
	text-decoration: underline;
}

td.storyLeft{
	padding-right: 12px;
}


/************** siteInfo styles ****************/

#siteInfo{
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: small;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

/************ sectionLinks styles **************/

#sectionLinks{
	margin: 0px;
	padding: 0px;

}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #cccccc;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-image:  url("siteimages/bg_nav.jpg");
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:hover {
	border-top: 1px solid #cccccc;
	background-color: #DDEEFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}


/************* relatedLinks styles **************/

.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid #cccccc;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a{
	display: block;
}


/**************** advert styles *****************/

#advert{
	padding: 10px;
}

#advert img{
	display: block;
}

/********************* end **********************/

.DataTD input, .DataTD textarea {
	FONT-SIZE: 92%;
}

.DataTD select, .DataTD option {
	FONT-SIZE: 92%;
}

.DataTD {
	background-color: #E2E2E2;
	border-style: inset;
	border-width: 1px;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;

	background: #ffffff;
	padding: 1px 5px 1px 5px;
	border: 1px #CFCFCF solid;
	border-left: 1px #CFCFCF dotted;
	border-right: 1px #CFCFCF dotted;
}

.DataTDGrey {
	background-color: #EFEDED;
	border-style: inset;
	border-width: 1px;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;

	padding: 1px 5px 1px 5px;
	border: 1px #CFCFCF solid;
	border-left: 1px #CFCFCF dotted;
	border-right: 1px #CFCFCF dotted;
}

.DataTDNotDotted {
	background-color: #E2E2E2;
	border-style: inset;
	border-width: 1px;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;

	background: #ffffff;
	padding: 1px 5px 1px 5px;
	border: 1px #CFCFCF solid;
	border-left: 1px #CFCFCF solid;
	border-right: 1px #CFCFCF solid;
}

.wrapper {
	border-collapse: collapse;
	font-family: verdana, sans-serif;
	font-size: 11px;
	text-align: center;
}

td.greytxt {
	color: #CCCCCC;
	font-size: smaller;
	text-align: right;
	vertical-align: bottom;
}

.title {
	background: #E2E2E2;
	font-weight:BOLD;
	padding: 1px 5px 1px 5px;
	border: 1px solid #CFCFCF;
	border-bottom: 3px double #CFCFCF;
	border-top: 1px solid #656565;
	text-align: center;
}

.errmsg {
	font-weight: BOLD;
	color: #FF0000;
}

.ac_menu
{
        border:1px solid black
}
.ac_normal
{
	background-color:#ffffff;
        cursor:pointer;
}
.ac_highlight
{
        background-color:#3366cc;
	color:white;
        cursor:pointer;
}
.ac_normal .a
{
        font-size:13px;
        color:black;
}
.ac_highlight .a
{
	font-size:13px;
}
.ac_normal .d
{
	float:right;
        font-size:10px;
        color:green;
}
.ac_highlight .d
{
	float:right;
        font-size:10px;
}

/************** sponsorInfo styles ****************/

div.sponsorinfo {
      clear: both;
      border-top: 1px solid #cccccc;
      font-size: small;
      color: #000000;
      padding: 10px 10px 10px 10px;
}

img.sponsorlogo {
      margin-left: 10px;
      margin-right: 10px;
      border: 0px none;
      vertical-align: middle;
}

/************ Newsbox *************/

#lnews {             /* class for the text "Latest News" */
      font-size: small;
      font-variant: small-caps;
}

div.newsbox {
      border-top: 1px solid #cccccc;
      color: #101010;
      padding: 10px 10px 10px 10px;
}

/************ SQL Performance ***********/

div.footerbar {
  clear: both;
  border-top: 1px solid #cccccc;
  font-size: small;
  color: black;
  padding: 10px 10px 10px 10px;
}

/************ Honeypot  ***********/

.robotic { display: none; }


/********* div align ********/
.blockcenter {
	text-align:center;
	margin: 0 auto;
}

.blockleft {
	text-align:left;
	margin: 0;
	margin-right:auto;
}

.blockright {
	text-align:right;
	margin: 0;
	margin-left:auto;
}

